<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.LikeMapper">

    <select id="likeExist" resultType="Boolean">
        /*여기서 에러남*/
        SELECT EXISTS(
                       SELECT *
                       FROM liketable
                       WHERE rid=#{rid} and uid=#{uid}
                   )
    </select>

    <delete id="deleteLike">
        DELETE FROM liketable
        WHERE uid=#{uid} and rid=#{rid}
    </delete>

    <insert id="likeReview">
        INSERT INTO liketable (uid,rid)
        VALUES (#{uid},#{rid})
    </insert>

    <select id="countLikes" resultType="int">
        SELECT count(*)
        FROM liketable
        WHERE rid=#{rid}
    </select>


</mapper>