<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MemberMapper">

    <insert id="signUp">
        INSERT INTO member (email,password,nickName)
        VALUES (#{email},#{password},#{nickName})
    </insert>

    <select id="getMemberToEmail" resultType="domain.MemberDTO">
        SELECT id, email, nickName, password
        FROM member
        WHERE email=#{email}
    </select>

    <select id="emailExist" resultType="Boolean">
        SELECT EXISTS(
                        SELECT id
                        FROM member
                        WHERE email=#{email}
                        LIMIT 1
                   )
    </select>

    <select id="nickNameExist" resultType="Boolean">
        SELECT EXISTS(
                       SELECT id
                       FROM member
                       WHERE nickName=#{nickName}
                       LIMIT 1
                   )
    </select>

    <select id="getIdToEmail" resultType="Long">
        SELECT id
        FROM member
        WHERE email=#{email}
    </select>

    <select id="getSalt" resultType="String">
        SELECT salt
        FROM member
        WHERE id=#{id}
    </select>

    <update id="setSalt">
        UPDATE member
        SET salt=#{salt}
        WHERE id=#{id}
    </update>

    <update id="deleteMember">
        UPDATE member
        SET isDeleted=1
        WHERE id=#{id}
    </update>


</mapper>
