<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.MovieMapper">

    <insert id="registerMovie">
        /*입력: Movie형*/
        INSERT INTO movie (title,link,image,subtitle,pubDate,director,actor)
        VALUES (#{title},#{link},#{image},#{subtitle},#{pubDate},#{director},#{actor})
    </insert>

    <select id="getMid" resultType="Long">
        SELECT mid
        FROM movie
        WHERE link=#{link}
    </select>

    <select id="linkExist" resultType="Boolean">
        SELECT EXISTS(
                       SELECT mid
                       FROM movie
                       WHERE link=#{link}
                       LIMIT 1
                   )
    </select>

</mapper>