<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.ReviewMapper">

    <insert id="registerReview">
        INSERT INTO review (mid, uid, nickName,review)
        VALUES (#{mid},#{uid},#{nickName},#{review})
    </insert>

    <select id="getReviewsByMid" resultType="domain.ReviewDTO">
        SELECT rid,mid,uid,nickName,review,created_at
        FROM review
        WHERE isDeleted=0 and mid=#{mid}
    </select>

    <select id="getReviewsByUid" resultType="domain.ReviewDTO">
        SELECT rid,mid,uid,nickName,review,created_at
        FROM review
        WHERE isDeleted=0 and uid=#{uid}
    </select>

    <update id="deleteReview">
        UPDATE review
        SET isDeleted=1, updated_at=CURRENT_TIMESTAMP
        WHERE rid=#{rid} and isDeleted=0
    </update>

</mapper>